.paragrafo {
	margin-top: 0px;
	margin-bottom: 0px;
}
/*
table {
	font-family: Verdana, Helvetica, sans-serif;
}
*/

table {
	font-family: "Arial Narrow", Helvetica, sans-serif;
}


.espaco {
	text-indent: 60px;
	margin-top: 0px;
	margin-bottom: 0px;
}